#wallet {
  width: 100%;
  height: 200px;
  background-color: rgb(250, 225, 0);
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.wallet__first-row,
.wallet__second-row,
.wallet__third-row,
.wallet__fourth-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.wallet__header {
  font-size: 24px;
}

.wallet__header i {
  color: var(--lightkokoa);
}

.wallet__second-row {
  background-color: var(--lightbeige);
  padding: 10px;
  border-radius: 5px;
}
